// color
$BG_color:#0e1827;
$text-color-000 : #dddee9;
$text-color-100 : #c2c3db;
$text-color-200 : #9c9bad;
$text-color-300 : #525f76;
$text-color-B400 : #9293e1;

// font-size
$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 26px;
$fz-heading: 32px
